<div class = "container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <ul class="nav nav-pills nav-justified">     
        <% @types.each do |type| %>
          <li class="nav-item">
            <%= link_to type.name, type_styles_path(type), class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>





<%= render partial: "shared/recommend", locals: {objs: @types} %>

</div>