<br>
<div class = "row">
  <div class = "col-4 text-center">
    <%= link_to "Gender" , admin_root_path,class: "btn admin-btn btn-danger" %>
  </div>
  <div class = "col-4 text-center">
    <%= link_to "Category" , admin_categories_path,class: "btn admin-btn btn-primary " %>
  </div>
  <div class = "col-4 text-center">
    <%= link_to "Type" , admin_types_path,class: "btn admin-btn btn-success" %>
  </div>
</div>
<hr>