  <br>
  <nav class="nav nav-pills nav-justified">
    <%= link_to "Gender" , admin_root_path,class: "nav-item nav-link" %>
    <%= link_to "Category" , admin_categories_path,class: "nav-item nav-link " %>
    <%= link_to "Type" , admin_types_path,class: "nav-item nav-link" %>
    <%= link_to "Style" , admin_styles_path,class: "nav-item nav-link" %>
  </nav>