<div id="match-btn" class="shadow-box">
  <%= image_tag('hue-ring-500x.png', class: "match-btn-img") %>
  <div class="match-btn-word">Khroma<br />配一下!</div>
</div>
<div class= "error-msg" style="height:30px; margin-top:10px">
</div>