<% type.products.each do |product|%> 
  <% if product.color.hue_level_id == hue_level.id %>
    <span>
      <div>Name: <%= product.name %></div>
      <div>Color: <%= product.color.hue_level_id %></div>
      </span>
    <% end %>
<% end %>