<% if categories.first.name == "上衣類" %>
  <span id="up-type-choice" class="input-group">
    <div class="input-group-prepend">
       <span class="input-group-text"><%= image_tag("cloth.png") %></span>
    </div>
    <%= grouped_collection_select(:type, :type_id,  categories, :types, :name, :id, :name, { prompt: "請選擇上衣款式", required: true }, {class: "custom-select"}) %>
  </span>
<% elsif categories.first.name == "下身類" %>
  <span id="down-type-choice" class="input-group">
    <div class="input-group-prepend">
       <span class="input-group-text"><%= image_tag("pants.png") %></span>
    </div>
    <%= grouped_collection_select(:type, :type_id,  categories, :types, :name, :id, :name, { prompt: "請選擇下身款式",required: true }, {class: "custom-select"}) %>
  </span>
<% end %>