<% types.each_with_index do |type, index| %>
  <div id="<%= type.name.delete('/') %>" style="padding-top: 40px">
    <div class="card shadow-box type-styles-card">
      <div class="card-header">
        <h5><%= type.name %></h5>
        <div class="go-more-btn">
          <%= link_to type_styles_path(type.id) do %>
            <button class="btn btn-sm btn-primary">去比較更多</button>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <div class="card-deck styles-panel">
            <%= render partial: "shared/product_sm", collection: type.styles.order("RANDOM()").limit(4).includes(:products, :colors), as: :style %>
        </div>
      </div>
    </div>    
  </div>
<% end %>

