/* reset css */

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #F5F5F5;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #000;
}

.admin-a, .admin-a:hover {
  color: #fff;
}

.admin-btn, .admin-btn:hover {
  padding: 5px 10px;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn, button, button:focus{
  outline:0px !important; 
}

button[disabled] {
  pointer-events: none;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* common setting */

:root {
  --bggray: #F5F5F5;
  --lblack: #3C3C3C;
  --dwhite: #D4D4D4;;
};

.container {
  width: 1100px;
  margin: 0 auto;
}

.shadow-box {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
}

.shadow-box-light {
  box-shadow: 0 2px 2px 0 rgba(41,48,59,.24), 0 0 2px 0 rgba(41,48,59,.12);
}

.close-btn {
  cursor: pointer;
}

/* navbar */

header {
  width: 100%;
  height: 35px;
}

#nav {
  font-size: 16px;
  height: 35px;
  width: 100%;
  background: black;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#upper-nav {
  display: grid;
  grid-template-columns: 110px 1fr 180px;
  position: relative;
  align-items: center;
}

#logo {
  width: 100%;
  height: 35px;
  display: grid;
  grid-template-areas: "logo";
  justify-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

#logo .logo-img {
  height: auto;
  object-fit: cover;
  grid-area: logo;
  position: absolute;
  top: -38px;
}

#logo:hover .logo-img{
  transition: 1s; 
  transform: rotate(360deg);
}

#logo a {
  grid-area: logo;
  display: inline-block;
  width: 100%;
  height: 35px;
  padding-top: 5px;
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: 700;
  z-index: 100
}

#menu {
  grid-column-start: 2;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
}

#upper-nav ul li,
#upper-nav ul li a  {
  color: var(--dwhite);
  font-weight: 500;
  cursor: pointer;
  justify-self: center;
}

#upper-nav ul li:hover,
#upper-nav ul li a:hover  {
  color: #FFF;
}

#sign-menu {
  height: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

#sign-menu a {
  color: #FFF;
  padding-top: 5px;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 18px;
}

#sign-menu .sign-in-btn {
  background: rgba(31,145,204,0.8);
}

#sign-menu .sign-up-btn {
  background: rgba(220,53,69,0.8);
}

#sign-menu .sign-in-btn:hover {
  background: #1F91CC;
}

#sign-menu .sign-up-btn:hover {
  background: var(--red);
}

#menu-user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}

#user-center-lbl {
  grid-column-start: 2;
}

#menu-user-panel {
  display: none;
  position: absolute;
  top: 40px;
  right: 5px;
  background: #FFF;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

#menu-user-panel:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  border-style: solid;
  border-width: 0 15px 10px 15px;
  border-color: transparent transparent #FFF transparent;
}

#lower-nav {
  background: #FFF;
  width: 100vw;
  min-height: 190px;
  position: fixed;
  top: 30px;
  transform: translateY(-100%);
  transition: .2s;
  z-index: 200;
}

#lower-nav .container {
  display: grid;
  grid-template-columns: 1fr 1fr 30px;
  justify-items: center;
  padding: 10px;
}

#lower-nav .container a,
#upper-nav #menu-user-panel li a {
  color: black;
  text-decoration: none;
}

#lower-nav .container a:hover,
#upper-nav #menu-user-panel li a:hover {
  color: var(--red);
}

#upper-nav #menu-user-panel li a {
  font-weight: 400;
}

#lower-nav .close-btn {
  color: var(--red);
  font-size: 25px;
}

/* flash */

.alert-row {
  width: 100%;
  margin-bottom: 30px;
}

/* sign up, sign in */

.sign-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1500;
  background: rgba(0,0,0,0.7);
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
}

.sign-panel {
  width: 377px;
  margin: 0 auto;
}

.sign-panel .card-body {
  margin-bottom: 20px;
}

.sign-panel .card-body > p {
  text-align: center;
  margin: 10px 0;
}

.provider-btn {
  width: 100%;
  padding: 10px 5px 7px 5px;
  border-radius: 0px;
  text-align: start;
  margin-bottom: 10px;
}

.provider-btn i {
  width: 45px;
  font-size: 22px;
  text-align: center;
}

.facebook-btn {
  background: #4766B0;
  color: #FFF;
}
.facebook-btn:hover {
  background: #225388
}
.google-btn {
  background: #FFF;
}

.google-btn i {

  color: var(--red);
}

.google-btn:hover {
  background: rgba(0, 0, 0, 0.1)
}

.sign-btn {
  width: 100%;
  text-align: center;
}

.sign-panel .card-body > p > a:hover {
  color: var(--red);
}

/* footer */

footer {
  margin-top: 20px;
  height: 80px;
  text-align: center;
  display: grid;
  align-items: center;
  color: var(--gray);
}

/* go top btn */

#go-top-btn {
  display: none;
  height: 40px; 
  width: 30px;
  background: rgba(0, 0, 0, 0.05);
  position: fixed;
  right: 20px;
  bottom: 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

#go-top-btn:hover {
  background: #FFF;
}

#go-top-btn p {
  font-size: 8px;
}


/* loading spinner from Spinkit https://github.com/tobiasahlin/SpinKit */

.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: var(--dwhite);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

#spinner-overlay {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: none;
  align-items: center;

}

/* RWD */

@media (min-width: 992px){
  .container{
    max-width:100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}


@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }

}

@media (max-width: 1110px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .container {
    width: 100%;
  }

  #nav, #menu, #menu-user a {
    font-size: 14px;
  }

  #nav .container {
    padding: 0px;
  }

  #logo a, #sign-menu a {
    font-size: 16px;
  }

  #logo .logo-img {
    top: -27px;
  }

  #upper-nav {
    grid-template-columns: 90px 1fr 120px;
  }
}