/* reset css */

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #F5F5F5;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button, .btn {
  outline: none;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* common setting */

:root {
  --bggray: #F5F5F5;
  --lblack: #3C3C3C;
  --dwhite: #D4D4D4;;
};

.container {
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
}

.shadow-box {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
}

.shadow-box-light {
  box-shadow: 1px 1px 0 0 rgba(0,0,0,.1);
}


/* navbar */
header {
  width: 100%;
  height: 30px;
}
#nav {
  height: 30px;
  width: 100%;
  overflow: hidden;
  background: black;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#upper-nav {
  display: grid;
  grid-template-columns: 100px 1fr 200px;
  margin-top: 5px;
}

#logo {
  width: 100px;
  display: grid;
  grid-template-areas: "logo";
  align-items: center;
  justify-items: center;
  position: absolute;
  cursor: pointer;
  top: -35px;
}

#logo .logo-img {
  object-fit: cover;
  grid-area: logo;
}

#logo:hover .logo-img{
  transition: 1s; 
  transform: rotate(360deg);
}

#logo a {
  grid-area: logo;
  color: black;
  text-decoration: none;
  font-weight: 600;
  z-index: 100
}

#menu {
  grid-column: 2/-2;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#upper-nav ul li {
  display: inline-block;
  color: var(--dwhite);
  font-weight: 600;
  cursor: pointer;
}

#upper-nav ul li:hover {
  color: #FFF;
}

#menu-user {
  justify-self: end;
}

#upper-nav ul li a {
  color: var(--dwhite);
}

#upper-nav ul li a:hover {
  color: #FFF;
}

#lower-nav {
  background: #FFF;
  width: 100vw;
  height: 200px;
  position: fixed;
  top: 30px;
  transform: translateY(-100%);
  transition: .2s;
  z-index: 200;
}

#lower-nav .container {
  display: grid;
  grid-template-columns: 1fr 1fr 30px;
  justify-items: center;
  margin-top: 10px;
}

#lower-nav .container a {
  color: black;
  text-decoration: none;
}

#lower-nav .container a:hover {
  color: var(--red);
}

#lower-nav .close-btn {
  color: var(--red);
  font-size: 25px;
  cursor: pointer;
}

/* flash */

.alert-row {
  width: 100%;
  margin-bottom: 30px;
}

/* footer */

footer {
  margin-top: 40px;
  height: 80px;
  text-align: center;
  display: grid;
  align-items: center;
  color: var(--gray);
}

/* go top btn */

#go-top-btn {
  height: 40px; 
  width: 30px;
  background: rgba(0, 0, 0, 0.05);
  position: fixed;
  right: 20px;
  bottom: 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

#go-top-btn:hover {
  background: #FFF;
}

#go-top-btn p {
  font-size: 8px;
}
