/* reset css */

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #F5F5F5;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

button, .btn {
  outline: none;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* common setting */

:root {
  --bggray: #F5F5F5;
  --lblack: #3C3C3C;
  --dwhite: #D4D4D4;;
};

.container {
  width: 1100px;
  margin: 0 auto;
}

.shadow-box {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
}

.shadow-box-light {
  box-shadow: 1px 1px 0 0 rgba(0,0,0,.1);
}


/* navbar */
header {
  width: 100%;
  height: 30px;
}

#nav {
  height: 30px;
  width: 100%;
  background: black;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#upper-nav {
  display: grid;
  grid-template-columns: 100px 1fr 150px;
  position: relative;
  align-items: center;
}

#logo {
  width: 100px;
  height: 30px;
  display: grid;
  grid-template-areas: "logo";
  align-items: center;
  justify-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

#logo .logo-img {
  object-fit: cover;
  grid-area: logo;
  position: absolute;
  top:-35px;
}

#logo:hover .logo-img{
  transition: 1s; 
  transform: rotate(360deg);
}

#logo a {
  grid-area: logo;
  color: black;
  text-decoration: none;
  font-weight: 600;
  z-index: 100
}

#menu {
  grid-column-start: 2;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#upper-nav ul li,
#upper-nav ul li a  {
  color: var(--dwhite);
  font-weight: 600;
  cursor: pointer;
  justify-self: center;
}

#upper-nav ul li:hover,
#upper-nav ul li a:hover  {
  color: #FFF;
}

#menu-user {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: end;
}

#menu-user > li {
  margin-left: 10px;
}

#menu-user-panel {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background: #FFF;
  padding: 10px;
  border-radius: 5px;
}

#menu-user-panel:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  border-style: solid;
  border-width: 0 15px 10px 15px;
  border-color: transparent transparent #FFF transparent;
}

#lower-nav {
  background: #FFF;
  width: 100vw;
  min-height: 190px;
  position: fixed;
  top: 30px;
  transform: translateY(-100%);
  transition: .2s;
  z-index: 200;
}

#lower-nav .container {
  display: grid;
  grid-template-columns: 1fr 1fr 30px;
  justify-items: center;
  padding: 10px;
}

#lower-nav .container a,
#upper-nav #menu-user-panel li a {
  color: black;
  text-decoration: none;
}

#lower-nav .container a:hover,
#upper-nav #menu-user-panel li a:hover {
  color: var(--red);
}

#upper-nav #menu-user-panel li a {
  font-weight: 400;
}

#lower-nav .close-btn {
  color: var(--red);
  font-size: 25px;
  cursor: pointer;
}

/* flash */

.alert-row {
  width: 100%;
  margin-bottom: 30px;
}

/* footer */

footer {
  margin-top: 40px;
  height: 80px;
  text-align: center;
  display: grid;
  align-items: center;
  color: var(--gray);
}

/* go top btn */

#go-top-btn {
  height: 40px; 
  width: 30px;
  background: rgba(0, 0, 0, 0.05);
  position: fixed;
  right: 20px;
  bottom: 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

#go-top-btn:hover {
  background: #FFF;
}

#go-top-btn p {
  font-size: 8px;
}

/* RWD */

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}


@media (min-width: 550px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .container {
    width: 100%;
  }
}

