/* khroma index */

#home-page {
  height: 550px;
  margin-top: -30px;
}
.home-bg {
  background-image: url(home-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  align-items: center;
}

.home-page-overlay {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.promote-panel {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.promote-item {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.promote-item .promote-icon {
  font-size: 34px;
}

.promote-item h6 {
  font-size: 18px;
  font-weight: 600;
}

/* match */

.match-choice-panel {
  width: 70%;
  margin: 0 auto;
  color: #FFF;
  display: grid;
  grid-gap: 20px;
  text-align: center;
  grid-template-columns: 1fr;
}

.match-choice-panel .select {
  width: 50%;
}

#gender-choice {
  display: inline-block;
}

#category-choice {
  display: inline-block;
  margin-left: 10px;
}

#q1-choice-panel {
  grid-column: 1 / -1;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  z-index: 500; 
}

.mm-dropdown {
  border: 1px solid #ddd;
  width: 100%;
  height: 38px;
  border-radius: 3px;
  background: #FFF;
  cursor: pointer;

}

.mm-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}

.mm-dropdown ul li,
.mm-dropdown .textfirst {
  padding: 0;
  color: #333;
  padding: 8px 15px;
  text-align: start;
  background: #FFF;
}

.mm-dropdown ul li {
  padding: 3px 15px;
}

.mm-dropdown .textfirst img.down {
  float: right;
  margin-top: 5px
}

.mm-dropdown ul li:last-child {
  border-bottom: 0;
}

.mm-dropdown ul li {
  display: none;
  padding-left: 25px;
}

.mm-dropdown ul li.main {
  display: block;
}

.mm-dropdown .textfirst img,
.mm-dropdown ul li img {
  width: 40px;
  height: 15px;
  display: inline-block;
}


#question2 {
  display: none;
} 

#q2-choice-panel {
  display: none;
  grid-column: 1 / -1;
  justify-self: center;
  width: 50%;
}

#q2-choice-panel span {
  width: 100%;
}

.input-group-prepend {
  display: inline-block;
}

.input-group-text {
  padding: 0.3rem 0.75rem;
}

#kroma-index-match {
  grid-column: 1 /-1;
  justify-self: center;
}

#match-btn {
  height: 150px;
  width: 150px;
  object-fit: cover;
  display: grid;
  grid-template-areas: "btn";
  border-radius: 50%;
  cursor: pointer;
  background: #FFF;
  text-align: center;
  margin-top: 20px;
}

#kroma-index-match #match-btn {
  display: none;
}

#match-btn:active {
  box-shadow: none;
  transform: translateY(2px);
} 

.match-btn-img {
  grid-area: btn;
}

.match-btn-word {
  grid-area: btn;
  align-self: center;
  justify-self: center;
  font-weight: 900;
  font-size: 18px;
  color: #000;
}

/* result */

#match-result {
  background: #FFF;
  padding: 20px 0;
  display: none;
}

.match-principle-pills {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 40px);
  justify-content: center;
  padding: 30px 0;
}
.match-principle-pill {
  
  cursor: pointer;
  position: relative;
}

.match-principle-pill .color-panel {
  height: 30px;
  display: flex;
  background: #000;
  opacity: 0.5;
}

.match-principle-pill .color-panel.active {
  opacity: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
  transform: translateY(-5px);
}

.match-principle-pill .hex-lbl {
  display: inline-block;
  width: 50%;
  height: 100%;
  opacity: 0.9;
}

.slash {
  border-style: solid;
  border-width: 15px 10px 15px 10px;
  opacity: 0.9;
}

.match-principle-panel {
  width: 150px;
  display: none;
  grid-template-rows: auto 130px;
  grid-gap: 10px;
  position: absolute;
  top:40px;
  left: 0;
  z-index: 100;
  padding: 10px;
  background: #FFF;
  border-radius: 5px;
}

.match-principle-panel:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 5px;
  border-style: solid;
  border-width: 0 15px 10px 15px;
  border-color: transparent transparent #FFF transparent;
}

.match-result-item {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
  "left right"
}

.left-match-col {
  grid-area: left;
  max-width: 600px;
}

.right-match-col {
  grid-area: right;
  max-width: 600px;
}

.right-match-col img {
  object-fit: cover;
}

.slick-slide  .product-img  .product-match-overlay-1,
.slick-slide  .product-img  .product-match-overlay-2 {
  display: none;
}

.slick-current  .product-img {
  max-height: 360px;
  position: relative;
  overflow: hidden;
}

.slick-current  .product-img  .product-match-overlay-1,
.slick-current  .product-img  .product-match-overlay-2 {
  display: grid;
  position: absolute;
  bottom: 0;
  left: -2px;
  right: -2px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 450;
  align-items: center;
  transform: translateY(50px);
  transition: 0.2s;
}

.slick-current .product-img .product-match-overlay-1 span {
  display: inline-block;
  width: 40%;
  margin: 2px auto;
  padding: 5px 8px;
  border: 2px solid #000;
  background: rgba(255, 255, 255, 0.7);
  font-weight: 900;
  cursor: pointer;
}

.slick-current  .product-img .product-match-overlay-2 {
  z-index: 500;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  height: 144px;
  transform: translateY(144px);
}

.up-products-panel {
  margin-top: 10px;
}

.carousel {
  max-width: 500px;
}

.carousel img {
  max-width: 350px;
  max-height: 350px;
}

.slick-list {
  text-align: center;
  vertical-align: middle;
}

.slick-slide {
  padding: 1px 20px;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px;
  color: black;
  left: 15px;
  position: absolute;
  z-index: 1000;
}

.slick-next:before {
  left: -25px;
}


.slick-slide img {
  display: none;
}

.slick-current img {
  display: inline-block;
}


/*  RWD */

@media (max-width: 960px) {

  .promote-item {
    grid-template-columns: 1fr;
    text-align: center;
    justify-self: center !important;
  }
  .promote-item .promote-icon {
    display: none;
  }

  .carousel {
    max-width: 400px;
    max-height: 350px;
  }

  .carousel img {
    max-width: 330px;
    max-height: 300px;
  }

  .slick-current .product-img .product-match-overlay-1 span {
    font-size: 12px;
  }
}

@media (max-width: 790px) {

  .match-choice-panel {
    width: 100%;
  }
  .promote-panel {
    display: none;
  }

  .home-page-panel {
    height: 300px;
    justify-content: center;
    justify-items: center;
  }

  .match-result-item {
    justify-items: center;
    grid-template-areas: 
    "right"
    "left"  
  }

}

@media (max-width: 590px) {
  .match-choice-panel  {
    grid-gap: 10px;
  }
  .match-choice-panel h2 {
    font-size: 22px;
  }
  #q1-choice-panel {
    grid-template-columns: 1fr;
  }

  #q2-choice-panel {
    width: 100%;
  }

  #match-btn {
    height: 130px;
    width: 130px;
  }

  .match-btn-word {
    font-size: 16px;
  }
  
    .carousel {
    max-width: 320px;
    max-height: 350px;
  }

  .carousel img {
    max-width: 280px;
    max-height: 350px;
  }
  
  .slick-slide img {
    display: inline-block;
  }

  .slick-current .product-img .product-match-overlay-1 span {
    width: 70%;
    font-size: 12px;
  }
}
