.td-width {
  max-width: 200px;
  word-wrap: break-word; 
}

.my-badge {
  margin: 10px;
}

/* partial product sm */

.product-info {
  display: grid;
  padding: 20px;
  grid-gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 20px 20px 1fr;
}

.product-color {
  display: inline-block;
  width: 20px;
  height: 12px;
  margin-left: 2px;
  z-index: 110;
}

.product-color-panel a {
  position: relative;
}

.product-color-panel a.color-unlocked:first-of-type:after,
.product-color-panel a.color-locked:after {
  content: "";
  border: 1px solid #000;
  width: 24px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.product-brand-price-row {
  display: grid;
  grid-template-columns: 35px 1fr;
}

.product-brand {
  align-self: center; 
}

.product-price {
  font-size: 16px;
  color: var(--red);
  justify-self: end;
}
.product-cart-link-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-cart {
  justify-self: start;
  align-self: end;
}

.product-cart a {
  color: var(--gray);
}

.product-cart a:hover {
  color: var(--info);
}

.product-cart .following-state {
  color: var(--info);
}

.product-link {
  justify-self: end;
}


/* product show, product-panel-lg */

.product-panel-lg {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto 1fr;
}

.product-lg-left {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto 1fr auto;
}

.product-lg-left .product-img img {
  object-fit: cover;
  max-width: 360px;
}

.previous-product-btn,
.next-product-btn {
  font-size: 30px;
  font-family: 'slick';
  align-self: end;
  justify-self: center;
  cursor: pointer;
  opacity: 0.75;
}

.previous-product-btn:hover,
.next-product-btn:hover {
  opacity: 1;
}

.product-info-lg {
  grid-column: 5/-1;
  display: grid;
  grid-template-rows: 60px 20px 60px 20px 50px 50px 1fr;
  background: #FFF;
  padding: 20px;
}
.product-info-lg .row-title {
  background: var(--lblack); 
  color: #FFF; 
  text-align: center
}

.product-info-lg .product-title,
.product-info-lg .product-price {
  font-size: 20px;
  font-weight: 600;
}

.product-info-lg .product-price,
.product-info-lg .product-link {
  align-self: center;
}

.product-info-lg .product-color-panel {
  justify-self: center;
  align-self: center;
}

.product-info-lg .product-color {
  height: 20px;
}

.product-info-lg .product-color-panel a.color-unlocked:first-of-type:after,
.product-info-lg .product-color-panel a.color-locked:after {
  top: -8px;
  height: 24px;
}

.product-info-lg .product-brand {
  justify-self: center;
  width: 50px;
}

.product-info-lg .product-brand-img {
  padding: 5px;
}

.styles-panel hr {
  display: none;
}

/* product match btn */

#product-match {
  margin: 20px 0 20px 0;
  display: grid;
  grid-template-columns: 1fr;
}

#product-match #match-btn {
  justify-self: center;
}

#product-match-result {
  display: none;
  background: #FFF;
}

#product-match-result #match-result-panel {
  padding: 20px 0;
}
/* RWD */ 

@media (max-width: 1110px) {

  .product-panel-lg {
    width: 100%;
  }
}

@media (max-width: 880px) {
  .product-panel-lg {
    width: 80%;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .product-info-lg {
    width: 360px;
  }
}

@media (max-width: 700px) {
  .product-panel-lg {
    width: 100%;
  }
}


@media (max-width: 650px) {
  .product-panel-lg {
   
  }
}

@media (max-width: 550px) {
  .type-styles-panel .styles-panel hr {
    width: 90%;
    display: block;
    border-top: 2px solid var(--dwhite);
  }
  
  .type-styles-panel .styles-panel hr:nth-of-type(4) {
    display: none;
  }

}