.styles-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.style-item {
  background-color: #FFF;
}


.container > .styles-panel .style-item {
  box-shadow: 1px 1px 0 0 rgba(0,0,0,.1);
}

#order-selection {
  margin-bottom: 20px;
}

#order-selection > .btn-group {
  float: right;
}