.styles-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.style-item {
  background-color: #FFF;
}

.container > .styles-panel .style-item {
  box-shadow: 0 2px 2px 0 rgba(41,48,59,.24), 0 0 2px 0 rgba(41,48,59,.12);
}

.styles-panel hr {
  display: none;
}

#order-selection {
  margin-bottom: 20px;
}

#order-selection > .btn-group {
  float: right;
}

#order-selection .btn a {
  position: relative;
}

#order-selection .btn a:before{
    position:absolute;
    content:'';
    top:-10px;
    right:-10px;
    left:-10px;
    bottom:-10px;
}

#order-selection .btn-primary a,
#order-selection .btn-outline-secondary a {
  color: var(--gray);
}

#order-selection .btn-primary a,
#order-selection .btn-outline-secondary:hover a {
  color: #FFF;
}

#styles-spinner {
  margin-top: 50px;
  color: var(--gray);
}

#paginate-panel {
  display: none;
}

/* RWD */

@media (max-width: 900px) {
  .styles-panel {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .styles-panel {
    grid-template-columns: 1fr ;
  }
}