.type-pills-panel {
  background: #FFF;
  display: flex;
  flex-wrap: wrap;
  min-height: 60px;
}

.type-pill {
  width: 100%;
  min-height: 50px;
  min-width: 110px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  flex: 1;
}

.angle-down {
  display: none;
  font-size: 18px;
}

.type-pill:hover .angle-down {
  display: block
}

.card-header {
  padding-top: 10px;
  padding-bottom: 10px; 
}

.card-header div, .card-header h5, .card-header h6 {
  display: inline-block;
}
.card-header h5 {
  margin-top: 4px;
}

.go-more-btn {
  justify-self: end;
}

.card-body {
  padding-bottom: 0px;
}