.type-pills-panel {
  background: #FFF;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  height: 60px;
  justify-items: center;
}

.type-pill {
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.angle-down {
  display: none;
  font-size: 18px;
}

.type-pill:hover .angle-down {
  display: block
}

.card-header {
  padding-top: 10px;
  padding-bottom: 10px; 
  display: grid;
  grid-template-columns: 1fr 100px;
  align-items: center;
}

.go-more-btn {
  justify-self: end;
}

.card-body {
  padding-bottom: 0px;
}