<div class = "container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <ul class="nav nav-pills nav-justified">     
        <% @categories.each do |category| %>
          <li class="nav-item">
            <%= link_to category.name, category_types_path(category), class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>






  <%= render partial: "shared/recommend", locals: {objs: @categories} %>
</div>