<p>親愛的顧客您好 <%= @resource.email %>!</p>

<p>我們收到了重新設定密碼的需求，您可以點擊以下連結進行修改</p>

<p><%= link_to '修改我的密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您並沒有發送此需求，請忽略此郵件</p>
<p>Khroma溫馨小提醒:您需要點擊連結並設定新密碼，您的帳號密碼才會修改</p>