<div class="container">
  <div class="product-panel-lg">
    <%= render partial: "shared/product_lg", locals: { product: @product} %>
  </div>
  <div id="product-family-panel">
    <div class="product-family-items"></div>
  </div>
  <div id="product-match">
    <%= render partial: "shared/match_btn" %>
  </div>
</div>
<div id="product-match-result">
  <div class="container">
      <div id="match-result-panel"></div>
  </div>
</div> 
