<h1>Link</h1>
<% @genders.each do |gender| %>
  <li><%= link_to gender.name, gender_categories_path(gender.id) %></li>
<% end %>

<h1>推薦商品</h1>
<%= render partial: "shared/recommend", locals: {objs: @genders} %>